body{
    background-color: black;
    color:aliceblue
}

.button {
  /* Makes span behave like a box */
      display: inline-block;      
      width: 100px;
      height: 100px;
      margin: 10px;
      padding: 10px;
      border: 2px solid #333;
      border-radius: 8px;
    }

#grey{
  background-color:grey;
}

#white{
  background-color:white;
}

#blue{
  background-color:blue;
}

#yellow{
  background-color:yellow;
}